@inject LinkGenerator linkGenerator


<div id="incidents"></div>

<script>
        class IncidentsService {
            async loadAll() {
                const url = '@linkGenerator.GetPathByPage("incidents")';

                const response = await fetch(url);
                const data = await response.json();

                return data;
            }
        }

        const container = document.querySelector("#incidents");
        const timer = 500;

        setInterval(async () => {
            let html = '';

            const data = await (new IncidentsService()).loadAll();

            data.forEach(incident => {
                let row = `<span><i>${incident.reason}</i></span> <br>`;
                html += row;
            });

            container.innerHTML = html;
        }, timer);        
    </script>