
@page
@using suivi_des_drones.Core.Models
@model IndexModel
@{
    ViewData["Title"] = "Page accueil";

 //   string title = "Suivi des drones"; // 1° Etape : .ToUpper();
}

@functions
{
    string title = "Suivi des drones";

    List<Drone> PrepareListOfDrones()
    {
        return this.Model.Drones;
    }

    string GetTitle()
    {
        return this.title;
    }

    List<HealthStatus> PrepareListStatus()
    {
        throw new NotImplementedException();
        return this.Model.StatusList;
    }
}

<h1>@(this.GetTitle().ToUpper())</h1>

<div class="row">
    <div class="col">Statut : </div>
    <div class="col">
        @try
        {
            var list = this.PrepareListStatus();

            <select>
                @foreach (var status in list)
                {
                    <option value="@status.Id">@status.Label</option>
                }
            </select>
        }
        catch(Exception ex)
        {
            <div>
                <b style="color: red;">Le filtre des statuts n'est pas disponible !</b>
            </div>
        }
        finally
        {
           
        }

    </div>
</div>

<partial name="_DronesTablePartial" model="this.PrepareListOfDrones()" />
