@page "/creation-drone"

@using suivi_des_drones.Web.UI.Pages

@model CreateDroneModel
@{
}

<h1>Ajout d'un nouveau drone</h1>

<form method="post">
    <input asp-for="MonDrone.Matricule" />
    <input asp-for="MonDrone.CreationDate" />

    <button>Créer</button>
</form>